@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);







#index-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#index-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#index-ext_menu-0 .navbar-toggler {
  color: #000000;
}
#index-ext_menu-0 .close-icon::before,
#index-ext_menu-0 .close-icon::after {
  background-color: #000000;
}
#index-ext_menu-0 .link,
#index-ext_menu-0 .dropdown-item {
  color: #000000;
}
#index-ext_menu-0 .link {
  font-size: 0.9rem;
}
#index-ext_menu-0 .dropdown-item,
#index-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#index-ext_menu-0 .link:hover,
#index-ext_menu-0 .dropdown-item:hover,
#index-ext_menu-0 .link:focus,
#index-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-menu {
  background: #4a725d;
}
#index-ext_menu-0 .nav-dropdown-sm .link:focus,
#index-ext_menu-0 .nav-dropdown-sm .link:hover,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #58886e!important;
}
#index-ext_menu-0 .navbar,
#index-ext_menu-0 .nav-dropdown-sm,
#index-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#index-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #5e9176;
}
#index-ext_menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#index-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#index-ext_menu-0 .bg-color.transparent.opened .link:hover,
#index-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}
#index-header1-0 .btn {
  font-family: 'Roboto', sans-serif;
}
#index-header1-0 .mbr-section-title SPAN {
  font-family: 'Roboto', sans-serif;
  color: #00a885;
  text-align: left;
}
#index-header1-0 .mbr-section-title {
  color: #f7da64;
}
#index-content1-0 P {
  font-family: 'Roboto', sans-serif;
}

#page1-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page1-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page1-ext_menu-0 .navbar-toggler {
  color: #000000;
}
#page1-ext_menu-0 .close-icon::before,
#page1-ext_menu-0 .close-icon::after {
  background-color: #000000;
}
#page1-ext_menu-0 .link,
#page1-ext_menu-0 .dropdown-item {
  color: #000000;
}
#page1-ext_menu-0 .link {
  font-size: 0.9rem;
}
#page1-ext_menu-0 .dropdown-item,
#page1-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#page1-ext_menu-0 .link:hover,
#page1-ext_menu-0 .dropdown-item:hover,
#page1-ext_menu-0 .link:focus,
#page1-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#page1-ext_menu-0 .link[aria-expanded="true"],
#page1-ext_menu-0 .dropdown-menu {
  background: #4a725d;
}
#page1-ext_menu-0 .nav-dropdown-sm .link:focus,
#page1-ext_menu-0 .nav-dropdown-sm .link:hover,
#page1-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page1-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #58886e!important;
}
#page1-ext_menu-0 .navbar,
#page1-ext_menu-0 .nav-dropdown-sm,
#page1-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page1-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #5e9176;
}
#page1-ext_menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#page1-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page1-ext_menu-0 .bg-color.transparent.opened .link:hover,
#page1-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#page1-ext_menu-0 .link[aria-expanded="true"],
#page1-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}
