@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);









#index-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#index-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#index-ext_menu-0 .navbar-toggler {
  color: #7e9b9f;
}
#index-ext_menu-0 .close-icon::before,
#index-ext_menu-0 .close-icon::after {
  background-color: #7e9b9f;
}
#index-ext_menu-0 .link,
#index-ext_menu-0 .dropdown-item {
  color: #7e9b9f;
}
#index-ext_menu-0 .link {
  font-size: 0.9rem;
}
#index-ext_menu-0 .dropdown-item,
#index-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#index-ext_menu-0 .link:hover,
#index-ext_menu-0 .dropdown-item:hover,
#index-ext_menu-0 .link:focus,
#index-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-menu {
  background: #000000;
}
#index-ext_menu-0 .nav-dropdown-sm .link:focus,
#index-ext_menu-0 .nav-dropdown-sm .link:hover,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #090a0c!important;
}
#index-ext_menu-0 .navbar,
#index-ext_menu-0 .nav-dropdown-sm,
#index-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#index-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #101115;
}
#index-ext_menu-0 .bg-color.transparent .link {
  color: #7e9b9f;
  transition: none;
}
#index-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#index-ext_menu-0 .bg-color.transparent.opened .link:hover,
#index-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}
#index-header3-0 .mbr-section-title,
#index-header3-0 .mbr-section-subtitle {
  text-align: center;
}
#index-header3-0 H3 {
  color: #ffffff;
  font-family: 'Merriweather', serif;
}
#index-msg-box8-0 .mbr-section-title,
#index-msg-box8-0 p {
  color: #fff;
}
#index-msg-box8-0 .btn {
  font-family: 'Merriweather', serif;
}
#index-msg-box8-0 .lead P {
  font-family: 'Merriweather', serif;
  font-size: 72px;
  color: #ffffff;
}
#index-content1-0 DIV {
  color: #85878b;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  text-align: left;
}
#index-buttons1-1 .btn {
  font-family: 'Merriweather', serif;
}


#page1-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page1-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page1-ext_menu-0 .navbar-toggler {
  color: #7e9b9f;
}
#page1-ext_menu-0 .close-icon::before,
#page1-ext_menu-0 .close-icon::after {
  background-color: #7e9b9f;
}
#page1-ext_menu-0 .link,
#page1-ext_menu-0 .dropdown-item {
  color: #7e9b9f;
}
#page1-ext_menu-0 .link {
  font-size: 0.9rem;
}
#page1-ext_menu-0 .dropdown-item,
#page1-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#page1-ext_menu-0 .link:hover,
#page1-ext_menu-0 .dropdown-item:hover,
#page1-ext_menu-0 .link:focus,
#page1-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#page1-ext_menu-0 .link[aria-expanded="true"],
#page1-ext_menu-0 .dropdown-menu {
  background: #000000;
}
#page1-ext_menu-0 .nav-dropdown-sm .link:focus,
#page1-ext_menu-0 .nav-dropdown-sm .link:hover,
#page1-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page1-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #090a0c!important;
}
#page1-ext_menu-0 .navbar,
#page1-ext_menu-0 .nav-dropdown-sm,
#page1-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page1-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #101115;
}
#page1-ext_menu-0 .bg-color.transparent .link {
  color: #7e9b9f;
  transition: none;
}
#page1-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page1-ext_menu-0 .bg-color.transparent.opened .link:hover,
#page1-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#page1-ext_menu-0 .link[aria-expanded="true"],
#page1-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}
#page1-features3-0 H4 {
  font-family: 'Oxygen', sans-serif;
}


#page2-header3-0 .mbr-section-title,
#page2-header3-0 .mbr-section-subtitle {
  text-align: center;
}
#page2-header3-0 H3 {
  color: #85878b;
  font-family: 'Merriweather', serif;
  font-size: 36px;
}
#page2-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page2-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page2-ext_menu-0 .navbar-toggler {
  color: #7e9b9f;
}
#page2-ext_menu-0 .close-icon::before,
#page2-ext_menu-0 .close-icon::after {
  background-color: #7e9b9f;
}
#page2-ext_menu-0 .link,
#page2-ext_menu-0 .dropdown-item {
  color: #7e9b9f;
}
#page2-ext_menu-0 .link {
  font-size: 0.9rem;
}
#page2-ext_menu-0 .dropdown-item,
#page2-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#page2-ext_menu-0 .link:hover,
#page2-ext_menu-0 .dropdown-item:hover,
#page2-ext_menu-0 .link:focus,
#page2-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#page2-ext_menu-0 .link[aria-expanded="true"],
#page2-ext_menu-0 .dropdown-menu {
  background: #000000;
}
#page2-ext_menu-0 .nav-dropdown-sm .link:focus,
#page2-ext_menu-0 .nav-dropdown-sm .link:hover,
#page2-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page2-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #090a0c!important;
}
#page2-ext_menu-0 .navbar,
#page2-ext_menu-0 .nav-dropdown-sm,
#page2-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page2-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #101115;
}
#page2-ext_menu-0 .bg-color.transparent .link {
  color: #7e9b9f;
  transition: none;
}
#page2-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page2-ext_menu-0 .bg-color.transparent.opened .link:hover,
#page2-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#page2-ext_menu-0 .link[aria-expanded="true"],
#page2-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}


#page3-header3-0 .mbr-section-title,
#page3-header3-0 .mbr-section-subtitle {
  text-align: center;
}
#page3-header3-0 H3 {
  color: #a6a6a6;
  font-family: 'Merriweather', serif;
  font-size: 36px;
}
#page3-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page3-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page3-ext_menu-0 .navbar-toggler {
  color: #7e9b9f;
}
#page3-ext_menu-0 .close-icon::before,
#page3-ext_menu-0 .close-icon::after {
  background-color: #7e9b9f;
}
#page3-ext_menu-0 .link,
#page3-ext_menu-0 .dropdown-item {
  color: #7e9b9f;
}
#page3-ext_menu-0 .link {
  font-size: 0.9rem;
}
#page3-ext_menu-0 .dropdown-item,
#page3-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#page3-ext_menu-0 .link:hover,
#page3-ext_menu-0 .dropdown-item:hover,
#page3-ext_menu-0 .link:focus,
#page3-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#page3-ext_menu-0 .link[aria-expanded="true"],
#page3-ext_menu-0 .dropdown-menu {
  background: #000000;
}
#page3-ext_menu-0 .nav-dropdown-sm .link:focus,
#page3-ext_menu-0 .nav-dropdown-sm .link:hover,
#page3-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page3-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #090a0c!important;
}
#page3-ext_menu-0 .navbar,
#page3-ext_menu-0 .nav-dropdown-sm,
#page3-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page3-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #101115;
}
#page3-ext_menu-0 .bg-color.transparent .link {
  color: #7e9b9f;
  transition: none;
}
#page3-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page3-ext_menu-0 .bg-color.transparent.opened .link:hover,
#page3-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#page3-ext_menu-0 .link[aria-expanded="true"],
#page3-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}


#page6-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page6-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page6-ext_menu-0 .navbar-toggler {
  color: #7e9b9f;
}
#page6-ext_menu-0 .close-icon::before,
#page6-ext_menu-0 .close-icon::after {
  background-color: #7e9b9f;
}
#page6-ext_menu-0 .link,
#page6-ext_menu-0 .dropdown-item {
  color: #7e9b9f;
}
#page6-ext_menu-0 .link {
  font-size: 0.9rem;
}
#page6-ext_menu-0 .dropdown-item,
#page6-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#page6-ext_menu-0 .link:hover,
#page6-ext_menu-0 .dropdown-item:hover,
#page6-ext_menu-0 .link:focus,
#page6-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#page6-ext_menu-0 .link[aria-expanded="true"],
#page6-ext_menu-0 .dropdown-menu {
  background: #000000;
}
#page6-ext_menu-0 .nav-dropdown-sm .link:focus,
#page6-ext_menu-0 .nav-dropdown-sm .link:hover,
#page6-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page6-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #090a0c!important;
}
#page6-ext_menu-0 .navbar,
#page6-ext_menu-0 .nav-dropdown-sm,
#page6-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page6-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #101115;
}
#page6-ext_menu-0 .bg-color.transparent .link {
  color: #7e9b9f;
  transition: none;
}
#page6-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page6-ext_menu-0 .bg-color.transparent.opened .link:hover,
#page6-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#page6-ext_menu-0 .link[aria-expanded="true"],
#page6-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}
#page6-contacts4-0 P {
  color: #000000;
}
#page6-contacts4-0 STRONG {
  color: #000000;
}
#page6-contacts4-0 .btn {
  font-family: 'Roboto', sans-serif;
}


#page7-header3-0 .mbr-section-title,
#page7-header3-0 .mbr-section-subtitle {
  text-align: center;
}
#page7-header3-0 H3 {
  color: #a6a6a6;
  font-family: 'Merriweather', serif;
  font-size: 36px;
}
#page7-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page7-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page7-ext_menu-0 .navbar-toggler {
  color: #7e9b9f;
}
#page7-ext_menu-0 .close-icon::before,
#page7-ext_menu-0 .close-icon::after {
  background-color: #7e9b9f;
}
#page7-ext_menu-0 .link,
#page7-ext_menu-0 .dropdown-item {
  color: #7e9b9f;
}
#page7-ext_menu-0 .link {
  font-size: 0.9rem;
}
#page7-ext_menu-0 .dropdown-item,
#page7-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#page7-ext_menu-0 .link:hover,
#page7-ext_menu-0 .dropdown-item:hover,
#page7-ext_menu-0 .link:focus,
#page7-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#page7-ext_menu-0 .link[aria-expanded="true"],
#page7-ext_menu-0 .dropdown-menu {
  background: #000000;
}
#page7-ext_menu-0 .nav-dropdown-sm .link:focus,
#page7-ext_menu-0 .nav-dropdown-sm .link:hover,
#page7-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page7-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #090a0c!important;
}
#page7-ext_menu-0 .navbar,
#page7-ext_menu-0 .nav-dropdown-sm,
#page7-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page7-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #101115;
}
#page7-ext_menu-0 .bg-color.transparent .link {
  color: #7e9b9f;
  transition: none;
}
#page7-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page7-ext_menu-0 .bg-color.transparent.opened .link:hover,
#page7-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#page7-ext_menu-0 .link[aria-expanded="true"],
#page7-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}


#page7-header3-0 .mbr-section-title,
#page7-header3-0 .mbr-section-subtitle {
  text-align: center;
}
#page7-header3-0 H3 {
  color: #85878b;
  font-family: 'Merriweather', serif;
  font-size: 36px;
}
#page7-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page7-ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page7-ext_menu-0 .navbar-toggler {
  color: #7e9b9f;
}
#page7-ext_menu-0 .close-icon::before,
#page7-ext_menu-0 .close-icon::after {
  background-color: #7e9b9f;
}
#page7-ext_menu-0 .link,
#page7-ext_menu-0 .dropdown-item {
  color: #7e9b9f;
}
#page7-ext_menu-0 .link {
  font-size: 0.9rem;
}
#page7-ext_menu-0 .dropdown-item,
#page7-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#page7-ext_menu-0 .link:hover,
#page7-ext_menu-0 .dropdown-item:hover,
#page7-ext_menu-0 .link:focus,
#page7-ext_menu-0 .dropdown-item:focus {
  color: #06f6ff;
}
#page7-ext_menu-0 .link[aria-expanded="true"],
#page7-ext_menu-0 .dropdown-menu {
  background: #000000;
}
#page7-ext_menu-0 .nav-dropdown-sm .link:focus,
#page7-ext_menu-0 .nav-dropdown-sm .link:hover,
#page7-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page7-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #090a0c!important;
}
#page7-ext_menu-0 .navbar,
#page7-ext_menu-0 .nav-dropdown-sm,
#page7-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page7-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #101115;
}
#page7-ext_menu-0 .bg-color.transparent .link {
  color: #7e9b9f;
  transition: none;
}
#page7-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page7-ext_menu-0 .bg-color.transparent.opened .link:hover,
#page7-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #06f6ff;
}
#page7-ext_menu-0 .link[aria-expanded="true"],
#page7-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #06f6ff!important;
}
